# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode
node_modules

frontend/package-lock.json
frontend/package-lock.json
backend\src\uploads
backend\avatar
backend/avatar/qnJiyTTmLEZ7naW5w27kahS2Bk92/1741852797003.jpg
backend/avatar/qnJiyTTmLEZ7naW5w27kahS2Bk92/1741852848489.jpg
backend/avatar/qnJiyTTmLEZ7naW5w27kahS2Bk92/1741853616755.jpg
backend/avatar/qnJiyTTmLEZ7naW5w27kahS2Bk92/1741853723020.jpg
backend/avatar/qnJiyTTmLEZ7naW5w27kahS2Bk92/1741854838997.jpg
backend/avatar/qnJiyTTmLEZ7naW5w27kahS2Bk92/1741855097592.jpg
backend/avatar/L7X9KvkZeDQOcicremxOxg3NEou2/1741852784365.jpg
backend/avatar/L7X9KvkZeDQOcicremxOxg3NEou2/1741852902814.jpg
backend/avatar/L7X9KvkZeDQOcicremxOxg3NEou2/1741853652758.jpg
backend/avatar/L7X9KvkZeDQOcicremxOxg3NEou2/1741853750079.jpg
backend/avatar/L7X9KvkZeDQOcicremxOxg3NEou2/1741854872317.jpg
backend/avatar/L7X9KvkZeDQOcicremxOxg3NEou2/1741854930404.jpg
backend/avatar/L7X9KvkZeDQOcicremxOxg3NEou2/1741855129856.jpg
backend/avatar/L7X9KvkZeDQOcicremxOxg3NEou2/1741865030489.jpg
